
# -- notebook environment
jupyter==1.0.0

# -- asci table for nice printing
texttable==1.4.0

# -- dataframe library
pandas==0.23.4

# -- measure memory footprint
memory-profiler==0.54.0

# -- for tracking progress for the long lasting process like uploading
# -- to docker registry
# DOCS: https://github.com/tqdm/tqdm
tqdm==4.25.0

# -- for rendering on demand fake data
Faker==0.9.0

# -- HTTP client for humans
requests==2.19.1

# -- easy parsing of xml records
xmltodict==0.11.0

# -- enable py.test inside jupyter notebook
# DOCS: https://github.com/chmp/ipytest
ipytest==0.3.0

# -- allows test driven work on algorithm by enabling rich tests running
# -- and inspecting capabilities
pytest==3.8.2

# -- allows one to run job on many cores
joblib==0.12.5

# -- magical parsing of datetimes
Delorean==1.0.0

# -- MapReduce framework to work on top of google dataproc, hadoop etc.
# DOCS: https://pythonhosted.org/mrjob/index.html
mrjob==0.6.5
