
# -- python binding to spark processing engine
pyspark==2.3.1

# -- notebook environment
jupyter==1.0.0

# -- asci table for nice printing
texttable==1.4.0

# -- dataframe library
pandas==0.23.4

# -- measure memory footprint
memory-profiler==0.54.0

# -- for tracking progress for the long lasting process like uploading
# -- to docker registry
# DOCS: https://github.com/tqdm/tqdm
tqdm==4.25.0

# -- for rendering on demand fake data
Faker==0.9.0

# -- HTTP client for humans
requests==2.19.1

# -- easy parsing of xml records
xmltodict==0.11.0
